<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1 style="font-size: 50px;">BREAD(Browse, Read, Edit, Add, Delete) </h1>
    <hr>
    <h2>Filters</h2> 
    <br>
    <form action="">
        <label for="string">STRING :</label>
        <input type="text" id="string"><br>
        <label for="integer">INTEGER :</label>
        <input type="text" id="integer"><br>
        <label for="float">FLOAT :</label>
        <input type="text" id="float"><br>
        <label for="date">DATE :</label>
        <input type="date" id="date"><br>
        <label for="">BOOLEAN</label>
        <select name="" id="">
            <option value="laki">laki</option>
            <option value="perm">perm</option>
        </select>
        <br>
        <input type="submit" value="search ">
    </form>
</body>

</html>